body { 
        background-color: yellowgreen;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
h1 {
    color: pink;
    font-size: 35px;
   }
p {
    color: red;
    font-size: 20px;
  }